<body>
    <!--Start sidebar-wrapper-->
    <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
        <div class="brand-logo">
            <a href="/">
                <img src="/img/logo.webp" class="logo-icon" alt="logo icon" />
                <h5 class="logo-text">Admin</h5>
            </a>
        </div>
        <ul id="control" class="sidebar-menu do-nicescrol">
            <li class="sidebar-header">DANH MỤC</li>
            <% if (infoUser.role == 1) { %>
            <li>
                <a href="/admin"> <i class="zmdi zmdi-face"></i> <span>Quản lí</span> </a>
            </li>
            <li>
                <a href="/admin/profile"> <i class="zmdi zmdi-face"></i> <span>Thông tin tài khoản</span> </a>
            </li>
            <% } else { %>
            <li>
                <a href="/admin/profile"> <i class="zmdi zmdi-face"></i> <span>Thông tin tài khoản</span> </a>
            </li>
            <% } %>
        </ul>
    </div>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
        <nav class="navbar navbar-expand fixed-top">
            <ul class="navbar-nav mr-auto align-items-center"></ul>

            <ul class="navbar-nav align-items-center right-nav-link">
                <li class="nav-item language">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"
                        ><i class="fa fa-flag"></i
                    ></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item"><i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-de mr-2"></i> German</li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                        <span class="user-profile"
                            ><img style="object-fit: cover" src="/img/avt/<%= infoUser.avatar %>" class="img-circle" alt="user avatar"
                        /></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item user-details">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <div class="avatar">
                                        <img
                                            style="object-fit: cover"
                                            class="align-self-start mr-3"
                                            src="/img/avt/<%= infoUser.avatar %>"
                                            alt="user avatar"
                                        />
                                    </div>
                                    <div class="media-body">
                                        <h6 class="mt-2 user-title profile"><%= infoUser.fullname %></h6>
                                        <p class="user-subtitle card-title"><%= infoUser.email %></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Tài khoản</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Cài đặt</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-power mr-2"></i> <a href="/user/logout">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>
